.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root{
    --text-color:green;
}
#name{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size:  30px;
    line-height: 31px;
}
#description{
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    font-size: 14px;
    opacity: 0.5;

}
#perfume{
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    font-size: 12px;
    opacity: 0.5;
}
#price{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 26px;
    color: var(--text-color);
}
#crossed{
    font-size:13px;
    opacity: 0.5;
    text-decoration: line-through;

}
#bt{
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    font-size: 12px;  
}

button:hover{
    opacity: 0.7;
}

body{
    background-color: hsl(30, 38%, 92%) !important;
}
svg{
    margin-right: 10px;
}
#mobile-image{
    display: none;
}
#desktop-image{
    display: block;
}
@media only screen and (max-width:400px) {
    #desktop-image{
        display: none;
    }
    #mobile-image{
        display: block;
    }
    br{
        display: none;
    }
}
